.login-container {
  width: 500px;
  margin-top: 10%;
  margin-left: calc(50% - 250px);
}


body {
  /* background: url("C:/Users/Yassin/Desktop/dark dish.webp"); */
  background-size:  cover;
  
}

.login-container {
  /* background: url("C:/Users/Yassin/Desktop/Natural-Food-Coloring.jpg"); */
  background-color: yellow;
}